<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150425825-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-150425825-3');
  </script>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Forecast My Stock</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="/static/img/core-img/favicon.ico"> -->

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->


</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="pixel-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="pixelNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                              <ul>
                                  <li><a href="{% url 'index' %}" style="color:black;font-weight:bold;">Home</a></li>

                                  <li><a href="{% url 'services' %}" style="color:black;font-weight:bold;">Forecast</a></li>
                                  <!-- <li><a href="{% url 'about' %}">About</a></li> -->
                                  <li><a href="{% url 'contact' %}" style="color:black;font-weight:bold;">Contact</a></li>
                                  <!-- <li><a href="{% url 'webpage3' %}">Realtime Stock Data</a> -->
                                      <!-- <ul class="dropdown">
                                          <li><a href="/templates/index.html">Home</a></li>
                                          <li><a href="/templates/about.html">About Us</a></li>
                                          <li><a href="/templates/services.html">Services</a>
                                              <ul class="dropdown">
                                                  <li><a href="/templates/index.html">Home</a></li>
                                                  <li><a href="/templates/about.html">About Us</a></li>
                                                  <li><a href="/templates/services.html">Services</a></li>
                                                  <li><a href="/templates/portfolio.html">Portfolio</a>
                                                      <ul class="dropdown">
                                                          <li><a href="/templates/index.html">Home</a></li>
                                                          <li><a href="/templates/about.html">About Us</a></li>
                                                          <li><a href="/templates/services.html">Services</a></li>
                                                          <li><a href="/templates/portfolio.html">Portfolio</a></li>
                                                          <li><a href="/templates/contact.html">Contact</a></li>
                                                          <li><a href="/templates/elements.html">Elements</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="/templates/contact.html">Contact</a></li>
                                                  <li><a href="/templates/elements.html">Elements</a></li>
                                              </ul> -->
                                          </li>
                                          <!-- <li><a href="/templates/portfolio.html">Portfolio</a></li> -->
                                          <!-- <li><a href="/templates/contact.html">Contact</a></li> -->
                                          <!-- <li><a href="/templates/elements.html">Elements</a></li> -->
                                      </ul>
                                  </li>

                                    <!-- <li><a href="#">Mega</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                        </div>
                                    </li> -->

                                <!-- Top Social Info -->
                                <div class="top-social-info ml-5">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-flickr"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <script>
    console.log("The full URL of this page is:<br>" + window.location.href)
    </script>
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url((/static/img/bg-img/8.jpg);">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Your Stock's Forecast</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Services Catagory Area Start ##### -->

    <!-- ##### Services Catagory Area End ##### -->

    <!-- ##### Services Block Area Start ##### -->
    <section class="services-block-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Service Block -->

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="100ms">



                      <!-- <h2>Autocomplete</h2>

                      <p>Start typing:</p> -->

                      <!--Make sure the form has the autocomplete function switched off:-->





                        <!-- <h4>vision</h4> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit, elit pulvinar interdum dapibus, est dui convallis orci, vel gravida erat ante in sapien.</p> -->
                    </div>
                </div>
                <!-- Single Service Block -->
                <img src="data:image/jpg;base64,{{ data }}" alt="" height="2000",width="3000">
                <!-- TradingView Widget BEGIN -->

<!-- TradingView Widget END -->
                <h1> Forecasted Values </h1>

                <div id="fig_container">
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-body">
  <center>  <h3> Weekly Forecast </h3> </center>
    <center>  {{ graph|safe }} </center>
      </div>



      <div id="fig_container1">

      <!-- <h2><center> Overview Forecast</center> </h2> -->
    <center>  <h3> Overview Forecast </h3> </center>
    <center>  {{ graph1|safe }} </center>

</div>

  </div>
</div>
</div>




</body>
                <!-- <h2><center> Weekly Forecast </center></h2> -->

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <!-- <h4>future</h4> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit, elit pulvinar interdum dapibus, est dui convallis orci, vel gravida erat ante in sapien.</p> -->
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="500ms">
                      <form>
                      <input type="button" id = "formbtn" value="Back" onclick=back()>
                      <style>
                        #formbtn {
                        background-color: blue; /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                      }
                      </style>


                      <script>



                        function back() {
                        window.history.back();
                        // if(window.location.href() == "http://127.0.0.1:8000/services/")
                        // window.location.reload();



                        }
                        // window.location.reload()
                      </script>
                      </form>






</body><
</html>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Services Block Area End ##### -->

    <!-- ##### Prices Area Start ##### -->
    <!-- <section class="pixel-prices-area d-flex flex-wrap section-padding-100"> -->

        <!-- Single Price Table Area -->
        <!-- <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>9</span><span>/ month</span></h2>
            </div> -->

        <!-- Single Price Table Area -->
        <!-- <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>39</span><span>/ month</span></h2>
            </div> -->
            <!-- <h2>Platinum Pack</h2>
            <p>Lorem ipsum dolor sit amet, consect- etur adipiscing elit. Ut rutrum quis sem sed pharetra.</p>
            <ul class="price-desc">
                <li><img src="img/core-img/correct.png" alt=""> Available Feature #1</li>
                <li><img src="img/core-img/correct.png" alt=""> Available Feature #2</li>
                <li><img src="img/core-img/correct.png" alt=""> Available Feature #3</li>
                <li><img src="img/core-img/caution.png" alt=""> Available Feature #4</li>
                <li><img src="img/core-img/correct.png" alt=""> Available Feature #5</li>
            </ul>
            <a href="#" class="btn pixel-btn">view project</a> -->

    <!-- ##### Prices Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="pixel-service-area">
        <div class="container">
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">

                        <!-- <img src="img/core-img/cursor.png" alt=""> -->
                        <!-- <h5>Light Weight &amp; Fast</h5> -->
                        <!-- <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p> -->
                        <!-- <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="200ms">
                      <!DOCTYPE html>
                      <html>
                      <head>
                      <meta name="viewport" content="width=device-width, initial-scale=1.0">

                      </head>
                      <body>
                        <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</body>
</html>


                      <!-- <h2>Autocomplete</h2>

                      <p>Start typing:</p> -->

                      <!--Make sure the form has the autocomplete function switched off:-->



                      </body>
                      </html>


                        <!-- <img src="img/core-img/monitor.png" alt="">
                        <h5>Responsive &amp; Retina Ready</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <!-- <img src="img/core-img/presentation.png" alt="">
                        <h5>Documentation</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- <img src="img/core-img/settings.png" alt="">
                        <h5>Customizable</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- <img src="img/core-img/cursor.png" alt="">
                        <h5>Light Weight &amp; Fast</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <!-- <img src="img/core-img/monitor.png" alt="">
                        <h5>Responsive &amp; Retina Ready</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <!-- <img src="img/core-img/presentation.png" alt="">
                        <h5>Documentation</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- <img src="img/core-img/settings.png" alt="">
                        <h5>Customizable</h5>
                        <p>Morbi tempus lobortis nunc non commodo. Pellentesque habitant morbi tristique senectus et netus et.</p>
                        <a href="#" class="btn">More Info</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "GOOG",
      "proName": "NASDAQ:GOOG"
    },
    {
      "description": "NFLX",
      "proName": "NASDAQ:NFLX"
    },
    {
      "description": "AAPL",
      "proName": "NASDAQ:AAPL"
    },
    {
      "description": "PFE",
      "proName": "NYSE:PFE"
    },
    {
      "description": "BAC",
      "proName": "NYSE:BAC"
    },
    {
      "description": "INTC",
      "proName": "NASDAQ:INTC"
    },
    {
      "description": "AMZN",
      "proName": "NASDAQ:AMZN"
    },
    {
      "description": "MSFT",
      "proName": "NASDAQ:MSFT"
    },
    {
      "description": "DAL",
      "proName": "NYSE:DAL"
    },
    {
      "description": "VZ",
      "proName": "NYSE:VZ"
    }
  ],
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>
